pkgbase = ros-noetic-base-local-planner
	pkgdesc = ROS - This package provides implementations of the Trajectory Rollout and Dynamic Window approaches to local robot navigation on a plane.
	pkgver = 1.17.3
	pkgrel = 1
	url = https://wiki.ros.org/base_local_planner
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-catkin
	makedepends = ros-noetic-cmake-modules
	makedepends = ros-noetic-message-generation
	makedepends = ros-noetic-tf2-geometry-msgs
	depends = ros-noetic-angles
	depends = ros-noetic-costmap-2d
	depends = ros-noetic-dynamic-reconfigure
	depends = ros-noetic-geometry-msgs
	depends = ros-noetic-nav-core
	depends = ros-noetic-nav-msgs
	depends = ros-noetic-pluginlib
	depends = ros-noetic-sensor-msgs
	depends = ros-noetic-std-msgs
	depends = ros-noetic-rosconsole
	depends = ros-noetic-roscpp
	depends = ros-noetic-rospy
	depends = ros-noetic-tf2
	depends = ros-noetic-tf2-ros
	depends = ros-noetic-visualization-msgs
	depends = ros-noetic-voxel-grid
	depends = ros-noetic-message-runtime
	depends = eigen
	source = ros-noetic-base-local-planner-1.17.3.tar.gz::https://github.com/ros-planning/navigation/archive/1.17.3.tar.gz
	sha256sums = 6500e427f868ea63801203715f41cbec4ed1bd1f9a29ae130a74b3776a7684f6

pkgname = ros-noetic-base-local-planner
